/* Exact sRGB scales from the user-selected Radix Colors custom palette. See README.md. */
.radix-themes.light {
  --violet-1: #fcfdff;
  --violet-2: #f5f9ff;
  --violet-3: #eaf2ff;
  --violet-4: #dbe9ff;
  --violet-5: #cddeff;
  --violet-6: #bbd1ff;
  --violet-7: #a2bdff;
  --violet-8: #7fa0ff;
  --violet-9: #101075;
  --violet-10: #1e2c8e;
  --violet-11: #3c56d2;
  --violet-12: #161f81;
  --violet-a1: #0055ff03;
  --violet-a2: #0066ff0a;
  --violet-a3: #0062ff15;
  --violet-a4: #0064ff24;
  --violet-a5: #0057ff32;
  --violet-a6: #0053ff44;
  --violet-a7: #004bff5d;
  --violet-a8: #0042ff80;
  --violet-a9: #00006cef;
  --violet-a10: #00107fe1;
  --violet-a11: #0022c4c3;
  --violet-a12: #000a75e9;
  --gray-1: #fbfdfc;
  --gray-2: #f7faf8;
  --gray-3: #eef1ef;
  --gray-4: #e5e9e7;
  --gray-5: #dee2df;
  --gray-6: #d5dad7;
  --gray-7: #cacfcc;
  --gray-8: #b7bdb9;
  --gray-9: #888f8b;
  --gray-10: #7d8480;
  --gray-11: #5f6662;
  --gray-12: #1c211e;
  --gray-a1: #00804004;
  --gray-a2: #00602008;
  --gray-a3: #002d0f11;
  --gray-a4: #0028141a;
  --gray-a5: #001f0821;
  --gray-a6: #001f0d2a;
  --gray-a7: #00190a35;
  --gray-a8: #00160848;
  --gray-a9: #000f0777;
  --gray-a10: #000e0682;
  --gray-a11: #000b05a0;
  --gray-a12: #000602e3;
  --color-background: #ffffff;
  --violet-contrast: #fff;
  --violet-surface: #f3f8ffcc;
  --violet-indicator: var(--violet-9);
  --violet-track: var(--violet-9);
  --gray-contrast: #fff;
  --gray-surface: #ffffffcc;
  --gray-indicator: var(--gray-9);
  --gray-track: var(--gray-9);
}
.radix-themes.dark {
  --violet-1: #0e1520;
  --violet-2: #101827;
  --violet-3: #11264a;
  --violet-4: #123063;
  --violet-5: #183b76;
  --violet-6: #214686;
  --violet-7: #295399;
  --violet-8: #3061b4;
  --violet-9: #1863dc;
  --violet-10: #2a5bae;
  --violet-11: #86b7ff;
  --violet-12: #d1e3ff;
  --violet-a1: #0016e905;
  --violet-a2: #2350f40d;
  --violet-a3: #1969fe34;
  --violet-a4: #196cff50;
  --violet-a5: #2674fd66;
  --violet-a6: #367efd78;
  --violet-a7: #3e86fe8d;
  --violet-a8: #4086ffab;
  --violet-a9: #1a71ffd8;
  --violet-a10: #3982fea5;
  --violet-a11: #86b7ff;
  --violet-a12: #d1e3ff;
  --gray-1: #141414;
  --gray-2: #1b1b1b;
  --gray-3: #232323;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6d6d6d;
  --gray-10: #7b7b7b;
  --gray-11: #b3b3b3;
  --gray-12: #eeeeee;
  --gray-a1: #e4000006;
  --gray-a2: #fb8b090d;
  --gray-a3: #f7b86e16;
  --gray-a4: #fdce981d;
  --gray-a5: #fad6ad25;
  --gray-a6: #fee3c32e;
  --gray-a7: #feebd43d;
  --gray-a8: #fdf1e457;
  --gray-a9: #fff6eb64;
  --gray-a10: #fff7ef73;
  --gray-a11: #fefbf8af;
  --gray-a12: #fffffeed;
  --color-background: #0f151c;
  --violet-contrast: #fff;
  --violet-surface: #111b3280;
  --violet-indicator: var(--violet-9);
  --violet-track: var(--violet-9);
  --gray-contrast: #fff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: var(--gray-9);
  --gray-track: var(--gray-9);
}
